.package-card {
  &-image-section {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
    .package-card-banner-message {
      background-color: #008344b4;
      font-size: 14px;
      padding: 4px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.5s;

    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    img {
      scale: 1.1;
      transition: ease-in-out 0.5s;
    }
  }
}
